.centrar {
  margin: auto;
  display: block;
}

.centrartexto{
  text-align: center;
}

#navegacion{
  text-align: center;
  margin-top: 15px;
}

.modificarimg{
  max-width:30%;
  max-height:30%;
  display: block;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.cuadrado {
  width: 120px; /* Ancho de 150 píxeles */
  height: 100px; /* Alto de 150 píxeles */
  background: #eaeaea; 
  border-radius: 11px;
}